/* Header Section */

.header {
  width: 100%;
  height: auto;
  position: fixed;

  .container {
    padding: 1.4rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: clamp(50px, 25vw, 100px);
  }
}

.full-menu__links {
  display: none;
}

.dropdown-menu[aria-hidden="true"] {
  display: none;
}

.dropdown-menu[aria-hidden="false"] {
  display: block;
}

/* Hero Section */

.hero {
  width: 100%;
  height: 100vh;
  background: url('resources/hero-bg.jpg') no-repeat center 35%/cover;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  h1 {
    display: flex;
    flex-direction: column;
  }

  .name {
    font-size: 1.9rem;
    letter-spacing: 0.15rem;
    font-weight: 600;
  }

  .title {
    font-size: 3.4rem;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 1;
  }

  .desc {
    margin: 1.2rem 0 1.9rem 0;
  }
}

/* Skills Section */

.skills {
  .container {
    padding: 5.5rem 0 7rem 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }
}

.skill {
  margin-bottom: 2.4rem;

  &__title {
    margin: 0.9rem 0;
  }
}

/* About Section */

.about {
  color: $light;
  background: linear-gradient($overlay, $overlay), url('resources/about-bg.jpg') no-repeat center center/cover;

  .container {
    padding: 5.5rem 0 7rem 0;
    text-align: center;
  }

  p:not(:last-child) {
    margin-bottom: 2.4rem;
  }
}

/* Project Section */

.projects {
  .container {
    padding: 5.5rem 0 7rem 0;
  }

  .project-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1.2rem;
  }
}

/* Contact Section */

.contact {
  color: $light;
  background: linear-gradient($overlay, $overlay), url('resources/contact-bg.jpg') no-repeat center center/cover;

  .container {
    padding: 5.5rem 0 7rem 0;
  }

  &__desc {
    display: none;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  label {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.5rem;
  }

  input {
    padding: 0.4rem 0.8rem;
  }

  .form-btn {
    margin-top: 1.2rem;
  }
}

/* Media Queries */

@media (min-width: 767px) {
  .full-menu__links {
    display: flex;

    & > li:not(:last-child) {
      margin-right: 4.5rem;
    }
  }

  .hamburger-btn {
    display: none;
  }

  .hero {
    .container {
      align-items: flex-start;
      text-align: left;
    }

    .name {
      font-size: 2.4rem;
    }

    .title {
      font-size: 4.5rem;
    }

    .desc {
      width: 45%;
      margin: 1.4rem 0 2.2rem 0;
    }
  }

  .skills {
    &__list {
      flex-direction: row;
    }

    .container {
      padding: 7rem 0 9rem 0;
    }
  }

  .skill {
    margin-bottom: 0;

    &__title {
      margin: 1.2rem 0;
    }

    &:not(:last-child) {
      margin-right: 3.5rem;
    }
  }

  .about {
    .container {
      padding: 7rem 0 9rem 0;
      text-align: left;
    }
  }

  .projects {
    .project-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .contact {
    .contact-container {
      display: flex;
      flex-direction: row;
    }

    form {
      flex: 1;
    }

    &__desc {
      display: block;
      width: 40%;
      padding-right: 2rem;
    }

    .form-btn {
      align-self: flex-end;
    }
  }
}
