@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 1.6rem;
  line-height: 1.5; }

@media (min-width: 767px) {
  body {
    font-size: 1.8rem; } }

.container {
  width: 90%;
  max-width: 1180px;
  height: 100%;
  margin: 0 auto; }

button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  outline: 0;
  background: none;
  border: none; }

.btn {
  padding: 1.2rem 1.9rem;
  background-color: #1268a5;
  border: 0;
  outline: 0;
  display: inline-block;
  font-weight: 600;
  color: #fafafa;
  transition: 0.15s background-color ease; }
  .btn:hover, .btn:focus {
    background-color: #1785d3; }
  .btn:active {
    background-color: #0d4b77; }

.section-title {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 4.8rem;
  letter-spacing: 0.15rem; }
  .section-title .dot {
    font-size: 5rem;
    color: #1268a5; }

.project {
  width: 100%;
  height: auto;
  display: flex; }
  .project__summary {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.2rem;
    align-items: flex-start; }

@media (min-width: 767px) {
  .section-title {
    text-align: left; } }

/* Header Section */
.header {
  width: 100%;
  height: auto;
  position: fixed; }
  .header .container {
    padding: 1.4rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header .logo {
    width: clamp(50px, 25vw, 100px); }

.full-menu__links {
  display: none; }

.dropdown-menu[aria-hidden="true"] {
  display: none; }

.dropdown-menu[aria-hidden="false"] {
  display: block; }

/* Hero Section */
.hero {
  width: 100%;
  height: 100vh;
  background: url("resources/hero-bg.jpg") no-repeat center 35%/cover; }
  .hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .hero .name {
    font-size: 1.9rem;
    letter-spacing: 0.15rem;
    font-weight: 600; }
  .hero .title {
    font-size: 3.4rem;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 1; }
  .hero .desc {
    margin: 1.2rem 0 1.9rem 0; }

/* Skills Section */
.skills .container {
  padding: 5.5rem 0 7rem 0; }

.skills__list {
  display: flex;
  flex-direction: column; }

.skill {
  margin-bottom: 2.4rem; }
  .skill__title {
    margin: 0.9rem 0; }

/* About Section */
.about {
  color: #fafafa;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("resources/about-bg.jpg") no-repeat center center/cover; }
  .about .container {
    padding: 5.5rem 0 7rem 0;
    text-align: center; }
  .about p:not(:last-child) {
    margin-bottom: 2.4rem; }

/* Project Section */
.projects .container {
  padding: 5.5rem 0 7rem 0; }

.projects .project-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1.2rem; }

/* Media Queries */
@media (min-width: 767px) {
  .full-menu__links {
    display: flex; }
    .full-menu__links > li:not(:last-child) {
      margin-right: 4.5rem; }
  .hamburger-btn {
    display: none; }
  .hero .container {
    align-items: flex-start;
    text-align: left; }
  .hero .name {
    font-size: 2.4rem; }
  .hero .title {
    font-size: 4.5rem; }
  .hero .desc {
    width: 45%;
    margin: 1.4rem 0 2.2rem 0; }
  .skills__list {
    flex-direction: row; }
  .skills .container {
    padding: 7rem 0 9rem 0; }
  .skill {
    margin-bottom: 0; }
    .skill__title {
      margin: 1.2rem 0; }
    .skill:not(:last-child) {
      margin-right: 3.5rem; }
  .about .container {
    padding: 7rem 0 9rem 0;
    text-align: left; }
  .projects .project-container {
    grid-template-columns: repeat(2, 1fr); } }
